@charset "utf-8";
$color: #282828;
$colorRed: #E20607;
$colorRed2: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;
.left_bar {
    .price_toggle {
        padding-bottom: 12px;
    }
    .noUi-target {
        background: #eeeeee;
        height: 7px;
        margin:0;
        border: none;
        padding: 0 10px;
    }

    .noUi-connect {
        background: $colorRed2;

    }

    .noUi-origin {

    }

    .noUi-handle {
        width: 18px !important;
        height: 18px !important;
        min-width: 18px !important;
        border-radius: 30px !important;
        border: 1px solid $colorRed2 !important;
        background: $colorRed !important;
        right: -8px !important;
        top: -5px !important;
        box-shadow: none !important;
        &:before, &:after {
            display: none !important;
        }
    }

    .price_inputs {
        width: 100%;
        min-height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding:25px 10px 15px 10px;
        margin: 0;

        input {
            height: 30px;
            border-radius: 3px;
            border: 1px solid #e0e0e0;
            padding: 0 3px;
            font-size: 15px;
            position: relative;
            max-width: 94px;

        }
        .min_r,.max_r {
            position: relative;
            top: 6px;
            color: $colorRed;
            font-weight: 600;

         }

        .p_left_r {
            width: 50%;
            display: flex;
            justify-content: start;
            gap: 10px;
        }

        .p_right_r {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
    .price-filter-submit {
    margin: 20px 0 0 0;
    }
}
