@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;
.sign_up_buttons {
    padding: 20px 0 10px 0;
    .left {
        a {
            color: $color;
            text-decoration: none;
            display: inline-table;
            align-items: center;
            min-height: 44px;
            line-height: 44px;
            padding-right: 20px;
            &:hover {
                color: $colorRed;
            }
        }
    }
    .right {
    }
}
